* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    background-color: rgb(127, 255, 159);
}

#game-background {
    background-image: url(./images/dirt.jpg);
    width: 600px;
    height: 600px;
}

#game-info {
    margin: auto;
    text-align: center;
    color: green;
}

p {
    padding: 20px;
    font-size: 1.5em;
}

h1 {
    font-family: 'Mansalva', cursive;
    font-size: 3em;
}

#snake {
    height: 50px;
    width: 50px;
    position: absolute;
}

#caterpillar-image {
    width: 100%;
    height: 100%;
}

#apple {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
}

